<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChurnInsight</title>
    <link rel="shortcut icon" href="/src/public/img/favicon1.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/src/css/styles.css">


</head>

<body id="unautAccess" class="d-flex flex-column justify-content-between min-vh-100">

    <div id="header-navbar"> </div>

    <main>
        <div class="row container mx-auto mt-5">
            <div class="col-md-4 mb-3">
                <div class="card shadow-lg p-1 border-left">
                    <div class="card-body">
                        <p class="card-title-data card-title mb-4">Número de predicciones realizadas</p>
                        <h1 class="text-center mb-4">120</h1>
                        <p class="text-center mb-0">Desde 10-01-2026</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card shadow-lg p-1 border-left">
                    <div class="card-body row m-0">
                        <div class="col-6">
                            <p class="card-title-data card-title mb-4">Umbral </p>
                            <h1 class="text-center mb-4">21.9%</h1>
                        </div>
                        <div class="col-6">
                            <p class="card-title-data card-title mb-4">Recall</p>
                            <h1 class="text-center mb-4">80,1%</h1>
                        </div>
                        <p class="text-center m-0">Algoritmo: XGBoost + Calibrated ClassifierCV</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card shadow-lg p-1 border-left">
                    <div class="card-body">
                        <p class="card-title-data card-title mb-4">Probabilidad promedio de churn</p>
                        <h1 class="text-center mb-4">11%</h1>
                        <p class="text-center mb-0">Valor mímimo: 8% - Valor máximo: 15%</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row container mx-auto mt-5">
            <div class="col-6">
                <canvas id="myChart" class="h-75"></canvas>
            </div>
            <div class="col-6">
                <canvas id="myChart2" class="h-75"></canvas>
            </div>
        </div>




    </main>

    <div id="footer"></div>

    <script src="/src/js/loadComponent.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="/src/js/api.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script>
        const ctx = document.getElementById('myChart');
        const ctx2 = document.getElementById('myChart2');

        new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [
                    'Cancelará',
                    'No cancelará',
                    'Error en predicción'
                ],
                datasets: [{
                    data: [40, 150, 10],
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        '#4bc0c0',
                        'rgb(54, 162, 235)',
                    ],
                    hoverOffset: 4
                }]
            }
        })

        new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: [
                    'Alto',
                    'Medio',
                    'Bajo'
                ],
                datasets: [{
                    label: '',
                    data: [10, 80, 30],
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        '#4bc0c0',
                        'rgb(54, 162, 235)',
                    ],
                    hoverOffset: 4
                }]
            },
            options: {
                elements: {
                    bar: {
                        borderWidth: 2,
                    }
                },
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Riesgo de predicciones'
                    }
                }
            },
        });
    </script>
</body>