<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChurnInsight</title>
    <link rel="shortcut icon" href="/src/public/img/favicon1.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/src/css/styles.css">


</head>

<body id="unautAccess" class="d-flex flex-column justify-content-between min-vh-100">

    <div class="container-fluid p-0" id="header-navbar"> </div>

    <main>
        <div class="row container mx-auto mt-5">
            <div class="col-12 col-lg-6 mb-3">
                <div class="card shadow-lg p-3">
                    <div class="card-body">
                        <h5 id="title-card-pred" class="card-title-data card-title fs-4 pb-3 border-bottom">Ingrese
                            datos del cliente
                        </h5>
                        <form id="form-single-pred" novalidate>
                            <p class="fw-light fst-italic text-center my-2">Todos los campos marcados con asterisco
                                (<span class="text-danger">*</span>) son obligatorios</p>
                            <div class="py-3 border-bottom row">
                                <label for="antiguedad" class="col-md-6 col-form-label">Antigüedad (meses):
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" name="antiguedad" min="0" max="120"
                                        required>
                                    <div id="antiguedadHelp" class="helpMsg form-text ms-1">El valor debe estar entre 0
                                        y 120
                                    </div>
                                </div>
                            </div>
                            <div class="py-3 border-bottom row">
                                <label for="plan" class="col-md-6 col-form-label">Plan:
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-md-6">
                                    <select name="plan" class="form-select">
                                        <option selected value="0">Seleccione una opción</option>
                                        <option value="basico">Básico</option>
                                        <option value="estandar">Estándar</option>
                                        <option value="premium">Premium</option>
                                    </select>
                                    <div id="planError" class="errorMsg">
                                    </div>
                                </div>
                            </div>
                            <div class="py-3 border-bottom row">
                                <label for="metodoPago" class="col-md-6 col-form-label">Método de pago:
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-md-6">
                                    <select name="metodoPago" class="form-select">
                                        <option selected value="0">Seleccione una opción</option>
                                        <option value="transferencia_bancaria">Transferencia Bancaria</option>
                                        <option value="tarjeta_credito">Tarjeta Crédito</option>
                                        <option value="tarjeta_debito">Tarjeta Débito</option>
                                    </select>
                                    <div id="metodoPagoError" class="errorMsg">
                                    </div>
                                </div>
                            </div>
                            <div class="py-3 border-bottom row">
                                <label for="facturasImpagas" class="col-md-6 col-form-label">Facturas impagas:
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" name="facturasImpagas" min="0" max="10"
                                        required>
                                    <div id="facturasImpagasHelp" class="helpMsg form-text ms-1">El valor debe estar
                                        entre 0 y
                                        10
                                    </div>
                                </div>
                            </div>
                            <div class="py-3 border-bottom row">
                                <label for="frecuenciaUso" class="col-md-6 col-form-label">Frecuencias de uso
                                    (días/mes): <span class="text-danger">*</span>
                                </label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" name="frecuenciaUso" min="0" max="30"
                                        required>
                                    <div id="frecuenciaUsoHelp" class="helpMsg form-text ms-1">El valor debe estar entre
                                        0 y 30
                                    </div>
                                </div>
                            </div>
                            <div class="py-3 border-bottom row">
                                <label for="ticketsSoporte" class="col-md-6 col-form-label">Tickets de soporte
                                    abiertos: <span class="text-danger">*</span>
                                </label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" name="ticketsSoporte" min="0" max="50"
                                        required>
                                    <div id="ticketsSoporteHelp" class="helpMsg form-text ms-1">El valor debe estar
                                        entre 0 y
                                        50
                                    </div>
                                </div>
                            </div>
                            <div class="py-3 border-bottom row">
                                <label for="tipoContrato" class="col-md-6 col-form-label">Tipo de contrato: <span
                                        class="text-danger">*</span>
                                </label>
                                <div class="col-md-6">
                                    <select name="tipoContrato" class="form-select">
                                        <option selected value="0">Seleccione una opción</option>
                                        <option value="mensual">Mensual</option>
                                        <option value="anual">Anual</option>
                                    </select>
                                    <div id="tipoContratoError" class="errorMsg">
                                    </div>
                                </div>
                            </div>
                            <div class="py-3 border-bottom row">
                                <label for="cambiosPlan" class="col-md-6 col-form-label">Cambios de plan últimos 6
                                    meses: <span class="text-danger">*</span>
                                </label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" name="cambiosPlan" min="0" max="5"
                                        required>
                                    <div id="cambiosPlanHelp" class="helpMsg form-text ms-1">El valor debe estar entre 0
                                        y 5
                                    </div>
                                </div>
                            </div>
                            <div class="py-3 border-bottom row">
                                <label for="canalAdquisicion" class="col-md-6 col-form-label">Canal de adquisición:
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-md-6">
                                    <select name="canalAdquisicion" class="form-select">
                                        <option selected value="0">Seleccione una opción</option>
                                        <option value="redes_sociales">Redes sociales</option>
                                        <option value="referido">Referido</option>
                                        <option value="web">Web</option>
                                        <option value="publicidad">Publicidad</option>
                                    </select>
                                    <div id="canalAdquisicionError" class="errorMsg">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="btn-calculate"
                                class="btn btn-primary w-100 mt-3 fw-bold">CALCULAR</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="result-single-pred" class="col-12 col-lg-6">


            </div>
        </div>
        </div>

    </main>

    <div id="footer"></div>

    <script src="/src/js/loadComponent.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/src/js/api.js"></script>
    <script type="module" src="/src/js/predictionUtils.js"></script>
    <script type="module" src="/src/js/predSingle.js"></script>

</body>